#!/bin/bash

export RDP_HOME="/tmp/rwanda-data-pipeline"

# Variables for source systems that need to back up data

export RDP_BACKUP_SITE_ID="rwinkwavu"
export RDP_BACKUP_DIR="${RDP_HOME}/backups"
export RDP_BACKUP_DATE=$(date '+%Y-%m-%d-%H-%M-%S')

# Variables supporting mysqldump backup

export RDP_MYSQLDUMP_ENABLED="true"
export RDP_MYSQLDUMP_USER="root"
export RDP_MYSQLDUMP_PASSWORD="root"
export RDP_MYSQLDUMP_DATABASE="openmrs"
export RDP_MYSQLDUMP_CONTAINER_NAME="srcdb"
export RDP_MYSQLDUMP_FILE_PASSWORD="Test123"
export RDP_MYSQLDUMP_FILE_PATH="${RDP_BACKUP_DIR}/${RDP_BACKUP_SITE_ID}_${RDP_BACKUP_DATE}.sql.7z"
export RDP_MYSQLDUMP_FILE_SYMLINK="${RDP_BACKUP_DIR}/${RDP_BACKUP_SITE_ID}_latest.sql.7z"

# Variables supporting percona xtrabackup backup

export RDP_PERCONA_BACKUP_ENABLED="true"
export RDP_PERCONA_BACKUP_MYSQL_USER="root"
export RDP_PERCONA_BACKUP_MYSQL_PASSWORD="root"
export RDP_PERCONA_BACKUP_MYSQL_DATA_DIR="/home/mseaton/environments/mysql/srcdb/data"
export RDP_PERCONA_BACKUP_MYSQL_RUN_DIR="/home/mseaton/environments/mysql/srcdb/run"
export RDP_PERCONA_BACKUP_TARGET_DATA_DIR="${RDP_BACKUP_DIR}/${RDP_BACKUP_SITE_ID}_xtrabackup_data_dir"
export RDP_PERCONA_BACKUP_FILE_PASSWORD="Test123"
export RDP_PERCONA_BACKUP_FILE_PATH="${RDP_BACKUP_DIR}/${RDP_BACKUP_SITE_ID}_${RDP_BACKUP_DATE}.xtrabackup.7z"
export RDP_PERCONA_BACKUP_FILE_SYMLINK="${RDP_BACKUP_DIR}/${RDP_BACKUP_SITE_ID}_latest.xtrabackup.7z"
